<div>
  <% if @user && @user.errors.any? %>
    <h3><%= @user.errors.count %> errors prohibited this product from being saved</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>


<%= form_tag "/users/#{(@user.id)}", method: :patch do %>
  Nickname: <%= @user.nickname %> <br>
  Name: <input type="text" name="name" value="<%= @user.name %>"> <br>
  Email: <input type="email" name="email" value="<%= @user.email %>"> <br>
  Date of Birth: <input type="date" name="date_of_birth" value="<%= @user.date_of_birth %>"> <br>
  Location: <input type="text" name="location" value="<%= @user.location %>"> <br>
  Drone Model: <input type="text" name="drone_model" value="<%= @user.drone_model %>"> <br>
  About me: <textarea type="message" rows="5" cols="30" name="bio" value="<%= @user.bio %>"> <%= @user.bio %> </textarea> <br>
  <br> Change password: <br>
  Password: <input type="password" name="password"> <br>
  Confirm Password: <input type="password" name="password_confirmation"> <br>

  <input type="submit" value="Save changes">

<% end %>
