<div>
  <% if @post && @post.errors.any? %>
    <h3><%= @post.errors.count %> errors prohibited this product from being saved</h3>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= form_tag "/posts/#{(@post.id)}", method: :patch do %>
  <div>
    Make <input type="text" name="title" value="<%= @post.title %>">
  </div>
  <div>
    Model <input type="text" name="description" value="<%= @post.description %>">
  </div>
  <% @tags.each do |tag| %>
    <input type="checkbox" value="<%= tag.id %>" name="tag_ids[]"/>
    <label class="light" for="tag_ids[]"><%= tag.name %></label><br>
  <% end %>
  <input type="submit" value="Update post">

<% end %>
  <%= button_to "Delete Post", {:controller => :posts,
      :action => 'destroy', :id => @post.id }, :method => :delete %>