<h3> Example of post </h3>
<div class="post">
  <div class="panel panel-success">
      <div class="panel-heading">
        <div class="container">
          <div class="row">
            <div class="col-sm-10">
              <h3 class="panel-title">Beautiful lake Tahoe</h3>
            </div>
            <div class="col-sm-2">
              <h3 class="panel-title"> BorisTheBlade</h3>
            </div>
          </div> 
        </div>
<!--         <h3 class="panel-title">Beautiful lake Tahoe</h3>
        <h3 class="userInPost"> BorisTheBlade </h3> -->
      </div>

      <div class="panel-body">
        <img class="postImage" src="https://pp.userapi.com/c638228/v638228523/2ba24/PCByh0284vU.jpg">
        <br>Took it during trip with friends in January 2017
      </div>
  </div>
</div>

<br>

<% @posts.each do |post| %>
  <div class="post">
    <div class="panel panel-success">
        <div class="panel-heading">
          <div class="row">
            <div class="col-sm-10">
              <h3 class="panel-title"><a href="posts/<%=post.id%>"><%= post.title %></a></h3>
            </div>
            <div class="col-sm-2">
              <h3 class="panel-title"><a href="users/<%=post.user_id%>"> <%= post.user.name %></a></h3>
              <%= form_tag "/users/subscribe", method: :post do %>
                <input type="hidden" name="subscribed_to_id" value=<%="#{post.user.id}"%>>
                <button type="submit" class="btn btn-default btn-sm">Follow</button>
              <%end%>
            </div>
          </div>
        </div>
        <div class="panel-body"><%= post.description %> </div>
        <% post.tags.each do |tag| %>
          <li> <%= tag.name %> </li>
        <% end %> 
          <!-- COMMENTS -->
        <% if post.comments.first %>
          <br> 
          <h4>Comments: </h4>
          <% post.comments.each do |comment| %>
            <div class="post">
              <div class="panel panel-success">
                  <div class="panel-heading">
                    <h4> <%= comment.user.nickname %> </h4>
                  </div>
              </div>
            </div>
            <div class="panel-body"><%= comment.content %></div>
        <%end%>
          <br>
          <!-- WRITE A COMMENT -->
        <% end %>  
        <div class="container">
          <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#comment">Leave a comment</button>
          <div id="comment" class="collapse">
            <%= form_tag "/posts/#{post.id}/comment", method: :post do %>
              <input type="text" name="content">
              <input type="hidden" name="post_id" value="#{post.id}">
              <button type="submit">Send</button>
            <% end %>
          </div>
        </div>
    </div>
  </div>
<% end %>
