<!DOCTYPE html>
<html>
  <head>
    <title>DroneEye project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
          <img src="https://asset1.djicdn.com/images/360/phantom-4/draggable_360_v2/0_0.png" width="80" height="40" class="d-inline-block align-top" alt="">
          </a>
          <a class="navbar-brand" href="/posts">DroneEye</a>
        </div>
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/didntitellyou">Don't Click!</a></li>
              <li><a href="/myfeed">My Feed</a></li>
              <li><a href="/discover">Discover</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-center">
              <li><a href="/posts/new">New Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/users/<%= current_user.id %>/edit"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
              <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
          <% else %>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/didntitellyou">Don't Click!</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          <% end %>
      </div>
    </nav>

    <% flash.each do |key, message|%>
      <div class="alert alert-<%= key %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
      </div>
    <%end%>

    <%= yield %>
  </body>
</html>
